*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: red;
}

.container{
    background-color: black;
    min-width: 90%, 500px;
    position: absolute;
}